@keyframes spinner-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-ring {
  position: absolute;
  border: 3px solid transparent;
  border-top-color: #E57373;
  border-right-color: #D97373;
  border-radius: 50%;
  animation: spinner-rotate 1.2s linear infinite;
  will-change: transform;
}
